<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TrainGuard</a>
      <p class="navbar-text">Calmer, Drier Journeys</p>
    </div>
  </div>
</nav>

<div class="jumbotron" id="rainJumbotron">
  <h1>Pack an umbrella</h1>
  <br/>
  <p>Looks like it'll be raining when you get to London. It'll be sunny half an hour later...</p>
  <br/>
  <a class="btn btn-primary btn-lg" href="#" role="button">Reschedule</a>
</div>

<div class="jumbotron" id="concertJumbotron">
  <h1>Watch out for revellers</h1>
  <br/>
  <p>There are likely to be more people on this service due to a concert. The next service should be calmer and have more seats</p>
  <br/>
  <a class="btn btn-primary btn-lg" href="#" role="button">Reschedule</a>
</div>
