<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TrainGuard</a>
      <p class="navbar-text">Calmer, Drier Journeys</p>
    </div>
  </div>
</nav>

<h1>What is your Journey?</h1>
<input type="text" name="originStationCode" class="form-control" placeholder="Origin Station"/>
<br/>
<input type="text" name="destinationStationCode" class="form-control" placeholder="Destination Station"/>
<br/>
<input type="date" name="dateTime" class="form-control" placeholder="Time of Travel"/>
<br/>
<a class="btn btn-primary btn-lg" href="#" role="button">Guard my travel!</a>
